.menu {
  border: 1px solid blue; }
  .menu .grid-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 0.5fr 0px 2fr 0px 0.5fr;
    grid-template-columns: 0.5fr 2fr 0.5fr;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas: "menuA menuB menuC"; }
  .menu .menuA {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: menuA;
    -ms-grid-row-align: left;
    align-self: left;
    -ms-grid-column-align: left;
    justify-self: left; }
  .menu .menuB {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: menuB;
    -ms-grid-row-align: center;
    align-self: center;
    -ms-grid-column-align: center;
    justify-self: center; }
  .menu .menuC {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
    grid-area: menuC;
    -ms-grid-row-align: center;
    align-self: center;
    -ms-grid-column-align: right;
    justify-self: right; }
