@import 'variabless.scss';


//generales
@import 'app/general.scss';


@import 'app/offcanvas.scss';


@import 'app/dato.scss';
@import 'app/informacion.scss';

@import 'app/btnLike.scss';



//arquitectura app

@import 'app/interior.scss';


@import 'app/menu.scss';
@import 'app/buscador.scss';



@import 'app/cardstare.scss';

@import 'app/emptystate.scss';













.btn_menu {
    width: 50px;
    height: 50px;
    background-color: white;
    margin: 0px;
    padding: 0px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 10px;
    font-size: 11px;
    line-height: 32px;
    text-transform: uppercase;
    float: left;
    box-shadow: -3px -3px 5px rgba(72, 80, 99, 0.03), 3px 3px 12px rgba(24, 28, 39, 0.04);
    transition: 0.3s all;

    &:hover {
        box-shadow: -3px -3px 5px rgba(72, 80, 99, 0.08), 3px 3px 12px rgba(24, 28, 39, 0.08);
    }

    img {
        width: auto;
        height: auto;
        opacity: 0.8;
        transition: 0.3s all;


        &:hover {
            opacity: 1;
        }
    }



}