$font: 'Quicksand',
sans-serif;


$color-1: #366EFC;
$color-1-h: #415CDD;
$color-2: #7d7f8f;
$color-3: #F7F8FB;

$color-4: #A1A3BB;
$color-5: #E9E9E9;
$color-6: #B3B5C9;








$menu: #EAECF4;


$step1 : #DF473E;
$step2 : #E1A826;
$step3 : #D2C418;
$step4 : #2F639E;
$step5 : #488ACC;






$col0 : #EBEFFB;

$col1 : #A1A3BB;
$col2 : #6F7187;
$col3 : #366EFC;
$col4 : #415CDD;

$col5 : #A1A3BB;
$col6 : #E9E9E9;
$col7 : #B3B5C9;

$col8 : #DCDFEF;