.version {
    p {
        color: $color-6;
        font-weight: normal;
        font-size: 0.6em;
        padding: 0px;
        margin: 0px;
        letter-spacing: 0.1em;
    }

    .actualizacion {
        margin-bottom: 1em;
    }
}