.emptyState {
    padding: 0.5em;
    border-radius: 0.5em;
    width: 100%;
    margin-top: 0.5em;
    margin-bottom: 0.8em;

    .grid-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 0.5fr;
        gap: 0px 0px;
        grid-template-areas:
            "iconBlankState"
            "infoBlankState";
    }

    .iconBlankState {
        grid-area: iconBlankState;
        align-self: center;
        justify-self: center;
        margin-bottom: 0.2em;
    }

    .infoBlankState {
        grid-area: infoBlankState;
        align-self: center;
        justify-self: center;

        .dataSeg {
            text-align: center;
            color: $col1;
            font-weight: bold;
            font-size: 0.9em;
            padding: 0px;
            margin: 0px;
            letter-spacing: 0.1em;
        }
    }
}