body {
    font-family: $font;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #EBEFFB;
    font-size: 18px;

    max-width: 460px;
    margin: 0 auto;
}

.section {
    padding: 0px 20px;
    max-width: 460px;
    margin: 0 auto;

    .titulo {
        text-align: center;
        margin-top: 1em;
        margin-bottom: 0.4em;

        p {
            color: $color-1;
            font-weight: bold;
            font-size: 1.4em;
            padding: 0px;
            margin: 0px;
            letter-spacing: 0.1em;
        }
    }
}