.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1fr 1fr 0.5fr;
    gap: 0px 0px;
    grid-template-areas:
        "rukmaLogotipo"
        "datoC"
        "datoD"
        "email";
}

.email {
    grid-area: email;
    align-self: center;
    justify-self: center;
}

.rukmaLogotipo {
    grid-area: rukmaLogotipo;
    align-self: center;
    justify-self: center;
}

.datoC {
    grid-area: datoC;
    align-self: center;
    justify-self: center;
}

.datoD {
    grid-area: datoD;
    align-self: center;
    justify-self: center;
    text-align: center;

    img {
        margin: 0 auto !important;
    }

    .nCodito {
        color: $col4;
        font-weight: bold;
    }

    .infoCodito {
        font-size: 0.6em;
    }
}



.informacion {
    border: 1px solid orange;

    p {
        text-align: center;
        color: $col1;
        font-weight: normal;
        font-size: 1em;
        padding: 0px;
        margin: 1em 0em;
        letter-spacing: 0.1em;
    }

    .email {
        a {
            color: $col4;
            font-weight: bold;
            text-decoration: underline;
        }
    }
}