.logotipoRukma {
    text-align: center;
    margin: 0 auto !important;
    margin-top: 2em;
    margin-bottom: 2em;

    a {
        img {
            max-width: 220px;
            margin: 0 auto;
        }
    }
}