.menu {

    text-align: center;

    .grid-container {
        display: grid;
        grid-template-columns: 0.5fr 2fr 0.5fr;
        grid-template-rows: 1fr;
        gap: 0px 0px;
        grid-template-areas:
            "menuA menuB menuC";
    }

    .menuA {
        grid-area: menuA;
        align-self: center;
        justify-self: left;
    }

    .menuB {
        grid-area: menuB;
        align-self: center;
        justify-self: center;

        img {
            text-align: center;
            margin: 0 auto;
            width: 160px;
        }
    }

    .menuC {
        grid-area: menuC;
        align-self: center;
        justify-self: center;
    }




    .btn_menu {
        width: 50px;
        height: 50px;
        background-color: white;
        margin: 0px;
        padding: 0px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        border-radius: 10px;
        font-size: 11px;
        line-height: 32px;
        text-transform: uppercase;
        float: left;
        box-shadow: -3px -3px 5px rgba(72, 80, 99, 0.03), 3px 3px 12px rgba(24, 28, 39, 0.04);
        transition: 0.3s all;

        &:hover {
            box-shadow: -3px -3px 5px rgba(72, 80, 99, 0.08), 3px 3px 12px rgba(24, 28, 39, 0.08);
        }

        img {
            width: auto;
            height: auto;
            opacity: 0.8;
            transition: 0.3s all;

            &:hover {
                opacity: 1;
            }
        }
    }


}