.menu {

    text-align: center;

    .grid-container {
        display: grid;
        grid-template-columns: 0.5fr 2fr 0.5fr;
        grid-template-rows: 1fr;
        gap: 0px 0px;
        grid-template-areas:
            "menuA menuB menuC";
    }

    .menuA {
        grid-area: menuA;
        align-self: center;
        justify-self: left;
    }

    .menuB {
        grid-area: menuB;
        align-self: center;
        justify-self: center;

        img {
            text-align: center;
            margin: 0 auto;
            width: 160px;
        }
    }

    .menuC {
        grid-area: menuC;
        align-self: center;
        justify-self: center;
    }



}