.notFound {
    background-color: $col3;
    text-align: center;
    padding-top: 2em;

    .code {
        font-size: 0.8em;
    }

    p {
        padding-top: 0.6em;
        color: $col6;
    }

    a {
        font-size: 0.8em;
        color: #ffffff;
        text-decoration: underline;
    }
}